@import '../../styles/light-mode.scss';

.header {
    background-color: $primary-100;
    color: $text-100;
    box-shadow: 0px 7px 14px; // hor - vert - desenfoque - color (default = negro)

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 70px;
        }
    }

    nav #main {
        display: flex;
        list-style: none;
        justify-content: center;

        li {
            margin: 12px;

            .main-link {
                padding: 10px;
                background-color: $primary-200;
                cursor: pointer;
                font-size: 18px;
                border-radius: 10px;
                text-decoration: none;
                color: $text-100;

                &:hover {
                    background-color: $primary-300;
                    color: #fff;
                    transition: all .3s;
                }
            }

        }

        #submain-container {

            .main-link {
                padding: 10px 50px;
            }

            #submain {
                position: absolute;
                margin-top: 10px;
                display: none;
                list-style: none;

                li {
                    margin: 0;

                    .submain-link {
                        display: block;
                        @extend .main-link;
                        border-radius: 0;
                        padding: 10px 49px;
                        background-color: transparent; // aca
                        color: transparent;
                    }

                    &:last-child .submain-link {
                        border-radius: 0 0 10px 10px;
                    }
                }
            }

            &:hover {

                >.main-link {
                    border-radius: 10px;
                    padding-bottom: 215px;
                    transition: all .5;
                    // animation-name: mainSlice;
                    // animation-duration: .5s;
                    // animation-fill-mode: forwards;
                }

                #submain {
                    display: block;
                    position: absolute;

                    .submain-link {
                        color: #fff;
                        transition: all 1s;
                        // animation-name: mainText;
                        // animation-duration: .5s;
                        // animation-delay: .3s;
                        // animation-fill-mode: forwards;
                        // color: transparent;
                    }

                }
            }
        }
    }
}

.dark-mode {
    background-color: rgb(49, 49, 49);
    color: #fff;
    box-shadow: 0px 7px 14px #fff;

    nav #main li {

        .main-link {
            background-color: rgb(1, 1, 150);
            color: #fff;

            &:hover {
                background-color: rgb(19, 19, 202);
            }
        }

        #submain li .submain-link {

            &:hover {
                background-color: rgb(19, 19, 202);
            }
        }
    }

    
}

// @keyframes mainSlice {
//     to {
//         padding-bottom: 133px;
//         border-radius: 10px;
//     }
// }

// @keyframes mainText {
//     to {
//         color: $text-100;
//     }
// }