@import '../../styles/light-mode-variables.scss';
@import '../../styles/dark-mode-variables.scss';

// .header-app  iria aca pero no hace falta!
#header {
    background-color: $primary-100;
    color: $text-100;
    box-shadow: 0px 7px 14px; // hor - vert - desenfoque - color (default = negro)

    #title-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 70px;
        }
    }

    nav {
        display: block;
        
        #main {
            display: flex;
            list-style: none;
            justify-content: center;

            li {
                margin: 12px;

                .main-link {
                    padding: 10px;
                    background-color: $primary-200;
                    cursor: pointer;
                    font-size: 18px;
                    border-radius: 10px;
                    text-decoration: none;
                    color: $text-100;

                    &:hover {
                        background-color: $primary-300;
                        color: #fff;
                        transition: all .3s;
                    }
                }

            }

            #submain-container {

                .main-link {
                    padding: 10px 50px;
                }

                #submain {
                    position: absolute;
                    margin-top: 10px;
                    display: none;
                    list-style: none;

                    li {
                        margin: 0;

                        .submain-link {
                            display: block;
                            @extend .main-link;
                            border-radius: 0;
                            padding: 10px 33.5px;
                            background-color: transparent; // aca
                            color: transparent;
                        }

                        &:last-child .submain-link {
                            border-radius: 0 0 10px 10px;
                        }
                    }
                }

                &:hover {

                    >.main-link {
                        border-radius: 10px;
                        padding-bottom: 215px;
                        transition: all .5;
                        // animation-name: mainSlice;
                        // animation-duration: .5s;
                        // animation-fill-mode: forwards;
                    }

                    #submain {
                        display: block;
                        position: absolute;

                        .submain-link {
                            color: #fff;
                            transition: all 1s;
                            // animation-name: mainText;
                            // animation-duration: .5s;
                            // animation-delay: .3s;
                            // animation-fill-mode: forwards;
                            // color: transparent;
                        }

                    }
                }
            }
        }
    }
}

@media (max-width:500px) {
    #header {

        #main-icon {
            padding: 10px;
            background-color: $primary-200;
            top: 16px;
            right: 12px;
            position: absolute;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: $primary-300;
                transition: background-color .3s;
            }

            span {
                height: 2px;
                background-color: $text-100;
                margin: 2px 0;
                width: 12px;
            }
        }

        nav {

            #main {
                display: flex;
                flex-direction: column;

                li {
                    display: flex;
                    border-radius: 0;

                    .main-link {
                        width: 100%;
                        text-align: center;
                        margin: -12px 0;
                    }

                    &:last-child {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.dark-mode #header{     // Aca se daria el estilo para el dark-mode
    background-color: $d-primary-100;
    color: $d-text-100;
    box-shadow: 0px 7px 14px $d-text-100;

    #main-icon{
        background-color: $d-primary-200;

        &:hover{
            background-color: $d-primary-300;
        }
    }

    nav #main li {

        .main-link {
            background-color: $d-primary-200;
            color: #fff;

            &:hover {
                background-color: $d-primary-300;
            }
        }

        #submain li .submain-link {

            &:hover {
                background-color: $d-primary-200;
            }
        }
    }
}

// @keyframes mainSlice {
//     to {
//         padding-bottom: 133px;
//         border-radius: 10px;
//     }
// }

// @keyframes mainText {
//     to {
//         color: $text-100;
//     }
// }