*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(242, 239, 233, 0.7);
  background-image: url(../src/logo.svg);
  background-blend-mode: overlay;   /* Fusiona background color con background image */
  background-size: cover;
}

.App {
  /* display: block; */
}

#contenido{
  height:56.7vh;
  z-index: -1;
  /* border: 1px solid black; */
}